@charset "UTF-8";


@media only screen and (min-width: 700px) and (max-width:1034px){

body {
  margin:0px;
  color: white;
}
.headline{
  font-family: 'prompt', sans-serif;
  display: block;
  margin: auto;
  padding-top: 30px;
  background-color: white;
  top: 0;
  width:570px;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-radius: 0px 0px 15px 15px;

}



.main {
  font-family: 'prompt', sans-serif;
  padding-top: 10px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}



.weather_details{
  width:45%;
  padding-top:90px;
  padding-left:5%;

}

.city {
  width:90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  color: white;
  margin-bottom:0px;
}

.weather_main{
  width:90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 3px;
  color: white;
  margin-top:-10px;
}



.weather_description {
  width:90%;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  color: white;
  margin-top:-12px;
}

.weather_temp{
  width:90%;
  text-align: center;
  text-transform: uppercase;
  font-size: 180px;
  font-weight: 600;
  letter-spacing: 3px;
  color: white;
  padding-left:5%;
  margin-top:-35px;
}

.weather_humidity {
  width:90%;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 2px;
  color: white;
  margin-top:-65px;
}

.weather_image {
  width:40%;
  height: 350px;
  background-color: none;
  display: block;
  margin-left: -10px;
  margin-right: 7%;
  padding-top:70px;
}

.bottombar{
  font-family: 'prompt', sans-serif;
  background-color: white;
  color:grey;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  padding-top:15px;
  padding-bottom: 30px;
  position: fixed;
  bottom: 0;
}

hr{
  color:grey;
  width:50px;
  border-style: solid;
  border-width:3px;
}



.weather_mintemp{
  width:33%;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;

}

.weather_feelslike{
  width:33%;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.weather_maxtemp{
  width:33%;
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
}

.text{
  font-size: 30px;
}

}
